
<div class="alternate-banner-section">
   
    <div class="alternate-banner-wrapper">
        <img class="img-tag" src="https://cdn.shopify.com/s/files/1/1241/3290/files/Broadway_Cares_Banner_for_Croton_Sitewide_Discount.png?v=1604013771">
        <div class="banner-border-hover">
            <div class="content">
            
                <h3>Use code #HALLOWWATCH30<br/> <span>to get 30% off any purchase<span/></h3>
                  <p>Shop our special Halloween Sale between <span><b>Oct 29 - Nov 10</b><span/></p>
                <div class="btn-group">
                    <a href="/pages/halloween" class="btn-link unfill">Download coloring Sheets</a>
                    <a href="https://www.crotonwatch.com/collections/mens" class="btn-link fill">SHOP NOW</a>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
  .alternate-banner-section .content h3, .alternate-banner-section .content .h3 {
    font-family: "Libre Baskerville", serif;
    font-size: 50px;
    color: #FF7A00;
    line-height: 1.5;
    font-weight: bold;
}
  .alternate-banner-section .content h3 span, .alternate-banner-section .content .h3 span {
    color: #fff;
}
  .alternate-banner-section .content p {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    color: #fff;
    line-height: 1.9;
    max-width: 600px;
    margin-bottom: 30px;
}
  .alternate-banner-section .content p span { color: #FF7A00; }
  
  @media only screen and (max-width: 600px) {
  .alternate-banner-section .content h3, .alternate-banner-section .content .h3 {
    font-family: "Libre Baskerville", serif;
    font-size:16px;
    color: #FF7A00;
    line-height: 1.5;
    font-weight: bold;
}
  .alternate-banner-section .content h3 span, .alternate-banner-section .content .h3 span {
    color: #fff;
}
    .alternate-banner-section .content {
    left: 15px;
    text-align: center;
}
  .alternate-banner-section .content p {
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    color: #fff;
    line-height: 1.9;
    max-width: 600px;
    margin-bottom: 30px;
}
    .alternate-banner-section .content a {
    font-size: 13px;
}
}
  </style>

{% schema %}
  {
    "name": "Alternative Banner",
    "settings": [

	],
	"presets": [
		{
		  "name": "Alternative Banner",
		  "category": "4. Banner"
		}
	]
  }
{% endschema %}