<div class="halloween-page">
  <img class="mobile-banner-halloween" src="https://cdn.shopify.com/s/files/1/1241/3290/files/Group_66.png?v=1603734047">
  <div class="banner-wrap">
    <img class="img_tag" src="https://cdn.shopify.com/s/files/1/1241/3290/files/Group_66.png?v=1603734047">
    <img class="img_tag mobile-banner-img" src="https://cdn.shopify.com/s/files/1/1241/3290/files/Mobile_BG.png?v=1603984701">
    <div class="main-container">
        <div class="banner-content">
            <h1>Have a spooky Hallows’ Eve</h1>
            <p>We are still very excited to celebrate in a new way. Will you join us?</p>
        </div>
    </div>
  </div>
  <div class="page-section">
    <div class="main-container">
        <div class="page-header">
            <img class="img-title" src="https://cdn.shopify.com/s/files/1/1241/3290/files/SPOOKTACULAR_HALLOWEEN.png?v=1603734044">   
            <p>Halloween is a little different this year but that doesn’t mean we have to miss all the fun. Here are some fun coloring pages you can download to fill your time with creativity while celebrating your favorite spooky holiday.</p>
          	<p>But that’s not all -<br>
			We’ve got a very special Halloween treat for you!<br>
              <span>WIN a watch of your choice for a value of up to $150!</span><br>
			Here are the mechanics to enter the giveaway:<br>
			<ul>	
         	 	<li>Follow @crotonwatch on Instagram</li>
          		<li>Download our coloring sheets</li>
          		<li>Color and create your masterpiece</li>
          		<li>Post it on your IG account and tag us @crotonwatch (one submission per account)</li>
          		<li>Send us the photo via DM so we can’t miss it</li>
          </ul>
			<p>Winner will be announced on Nov. 6!<br>
			Happy coloring and Happy Halloween to you and your families! </p>
        </div>
        <div class="images_row">
            <div class="img_wrap">
                <img class="img" src="https://cdn.shopify.com/s/files/1/1241/3290/files/1_2x_1.png?v=1603734045">
            </div>
            <div class="img_wrap">
                <img class="img" src="https://cdn.shopify.com/s/files/1/1241/3290/files/2_2x_1.png?v=1603734045">
            </div>
            <div class="img_wrap">
                <img class="img" src="https://cdn.shopify.com/s/files/1/1241/3290/files/3_2x_1.png?v=1603734045">
            </div>
        </div>
        <div class="btn-wrap">
            <a class="btn_" href="https://cdn.shopify.com/s/files/1/1241/3290/files/Croton_Coloring_Activity_Sheets.pdf?v=1603920073" download>Download All Pages</a>
        </div>
    </div>
  </div>
</div>
<style>
  .halloween-page .page-section .page-header p span{
    color: #FF7A00;
    font-size:24px;
    font-weight:700;
  }
  .halloween-page .page-section .page-header ul{
  	list-style:disc;
    text-align:left;
  }
  .halloween-page .page-section .page-header ul li{
  	color: #fff;
  }
</style>